.navbar {
 background-color: black;
 overflow: hidden;
}

.dropdown{
 float: right;
 overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a {
 float: left;
 padding: 14px 16px;
 color:white;
 text-decoration: none;
}

.dropdown-content a {
    float: none;
    color: back;
    padding: 12px 16px;
    text-decoration: none;
    display: black;
    text-align: left;
}

.dropdown-content a{
 display: ;
}

.box{
 width: 300px;
 height: 300px;
 border: none;
 display: inline-block;
 margin:50px;
 border-radius: 20px; 
 box-shadow: 0 5px 20px rgba(0,0,0,0.05)
}

section{
 padding: 70px;
 width: auto px;
 height: auto px;
 margin: auto auto;
 text-align: center; 
}

#main-left{
 background: white;
}

#main-right{
 background: white;
}

div h4{
 color: white;
 background: black;
 padding:30px;
 margin:0px;
 border-radius: 20px 20px 0px 0px;
}
